*{
    box-sizing: border-box;
}

#overview {
    color: white;
    padding: 0 auto;
    margin: 2rem auto;
    font-weight: 600;
}

.ov-wrap {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.ov-image {
    width: 288px;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}

.ov-textarea {
    position: relative;
}

.genres {
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
    border-radius: 10px;
    background-color: var(--success);
    color: black;
}

.link {
    text-decoration: none;
}

@media (min-width: 529px) and (max-width: 767px) {
    #ov-textarea {
        width: 100%;
    }
}