:root {
    --success: #0f0;
    --danger: #dc3545;
}

*{
    box-sizing: border-box;
    border: 0;
}

body {
    background-color: black;
    color: white;
}

#bgAnimationContainer {
    margin: 0;
    position: fixed;
    z-index: -1;
}

.App {
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}